@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 211 100% 50%;
  --secondary: 167 59% 57%;
  --accent: 195 100% 50%;
  --background: 40 7% 8%;
  --foreground: 0 0% 100%;

  --border: 0 0% 17.5%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
  --radius: 0.5rem;
}

.light {
  --primary: 211 100% 50%;
  --secondary: 167 59% 57%;
  --accent: 195 100% 50%;
  --background: 0 0% 90%;
  --foreground: 0 0% 0%;

  --border: 0 0% 90%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
}

* {
  @apply border-border;
}

body {
  @apply flex min-h-screen flex-col overflow-x-hidden bg-background text-foreground;
  font-family: 'Outfit', serif;
}

.masonry > div > div {
  width: auto !important;
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.masonry-item {
  break-inside: avoid;
}
